* {
    margin: 0;
    box-sizing: border-box;
    font-family: "CustomFont";
}

@font-face {
    font-family: "CustomFont";
    src: url("./RolexLight.woff2");
}
.body5
{
    background-image: url(./new.jpg);
    background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  opacity: 0.9;
  

}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

table{
    width: 80%;
    
    
    }
    th{
    text-align: left;
    padding: 6px;
    color: #f2f2f2;
    background-color: #441212;
    font-size:90%;
    font-family: 'Quicksand', sans-serif;
    }
    td{
    text-align: left;
    padding-left: 0px;
    background-color: #f2f2f2;
    }
    #space{
        padding-left: 0px;
    }
    #gettable{
        margin-inline-start: 10%;
        padding-top: 0px;
    }
    #order{
        
        font-size: xx-large;
        color:rgb(246, 243, 243);
        margin-bottom: 3%;
        background-color: #441212b4;
        padding-top: 15px;
        padding-right: 300px;
        padding-bottom: 15px;
        
    }
    
    #actionsnew{
        position: absolute;
        top:30px;
        right:232px;
        color: #270303;
        font-family: 'Quicksand', sans-serif;
        border-radius: 1.25em;
    }
     #actionsn{
        position: absolute;
        top:30px;
        right:139px;
        color: #270303;
        font-family: 'Quicksand', sans-serif;
        border-radius: 1.25em;
    }
    #actionsl{
        position: absolute;
        top:30px;
        right: 25px;
        color: #e7dddd;
    }

